<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        .hidden {
            display: none;
        }
        .visible {
            display: block;
        }
    </style>
</head>
<body>
<h2>Forgot Password</h2>
<form id="emailForm" th:action="@{forgotPassword}" method="post" th:if="${isValid == null}">

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
    </div>
    <button type="submit">Send Verification Email</button>
</form>

<form id="passwordForm" th:action="@{forgotPassword}" method="post" th:if="${isValid}">

    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" >
    </div>
    <div>
        <label for="passwordCopy">Confirm Password:</label>
        <input type="password" id="passwordCopy" name="passwordCopy" >
    </div>
    <button type="submit">Change Password</button>
</form>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>